<!doctype html>
<html lang="en">
<head>
    <!-- meta config -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- judul tab -->
    <title>Metrology Receiving
    </title>
    <!-- css file -->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <link href="stylesheets/icon.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/styleku.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {{{ body }}}

    <!-- Javascript file -->
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <!-- table to json -->
    <script type="text/javascript" src="javascripts/jquery.tabletojson.min.js"></script>
    <!-- styleku -->
    <script type="text/javascript" src="javascripts/styleku.js"></script>
</body>
</html>

