<div class="container">
        <form action="/login" method="post" class="col s6 l5 m5 z-depth-3 warna login">
                <div class="input-field col s3">
                    <input type="text" name="username" id="username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s3">
                    <input type="password" name="pass" id="pass">
                    <label for="pass">Password</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                <a href="/costumer">login, sebagai costumer</a>
        </form>
</div>